layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
                format_left   "#[bg=#eba0ac,fg=#181926,bold]  {session} {mode} {tabs}"
                format_center "{notifications}"
                format_right  " {datetime} "
                format_space  ""
                format_hide_on_overlength "true"
                format_precedence "lrc"

                border_enabled  "true"
                border_char     "─"
                border_format   "{char}"
                border_position "top"

                hide_frame_for_single_pane "false"

                mode_normal        "#[bg=#a6da95,fg=#181926,bold] NORMAL#[fg=#a6da95]"
                mode_locked        "#[bg=#f38ba8,fg=#181926,bold]      #[fg=#f38ba8]"
                mode_pane          "#[bg=#94e2d5,fg=#181926,bold]  PANE #[fg=#94e2d5]"
                mode_tab           "#[bg=#94e2d5,fg=#181926,bold]  TAB  #[fg=#94e2d5]"
                mode_scroll        "#[bg=#f2cdcd,fg=#181926,bold] SCROLL#[fg=#f2cdcd]"
                mode_enter_search  "#[bg=#f2cdcd,fg=#181926,bold] ENT-SEARCH#[fg=#f2cdcd]"
                mode_search        "#[bg=#f2cdcd,fg=#181926,bold] SEARCHARCH#[fg=#f2cdcd]"
                mode_resize        "#[bg=#f9e2af,fg=#181926,bold] RESIZE#[fg=#f9e2af]"
                mode_rename_tab    "#[bg=#f9e2af,fg=#181926,bold] RENAME-TAB#[fg=#f9e2af]"
                mode_rename_pane   "#[bg=#f9e2af,fg=#181926,bold] RENAME-PANE#[fg=#f9e2af]"
                mode_session       "#[bg=#f5c2e7,fg=#181926,bold] SESSION#[fg=#f5c2e7]"
                mode_prompt        "#[bg=#f5c2e7,fg=#181926,bold] PROMPT#[fg=#f5c2e7]"

                tab_normal              "#[fg=#89b4fa]#[bg=#89b4fa,fg=#1e2030,bold]{index} #[bg=#363a4f,fg=#89b4fa,bold] {name}{floating_indicator}#[fg=#363a4f,bold]"
                tab_active              "#[fg=#fab387]#[bg=#fab387,fg=#1e2030,bold]{index} #[bg=#363a4f,fg=#fab387,bold] {name}{floating_indicator}#[fg=#363a4f,bold]"
                tab_normal_fullscreen   "#[fg=#89b4fa]#[bg=#89b4fa,fg=#1e2030,bold]{index} #[bg=#363a4f,fg=#89b4fa,bold] {name}{fullscreen_indicator}#[fg=#363a4f,bold]"
                tab_normal_sync         "#[fg=#89b4fa]#[bg=#89b4fa,fg=#1e2030,bold]{index} #[bg=#363a4f,fg=#89b4fa,bold] {name}{sync_indicator}#[fg=#363a4f,bold]"
                tab_active_fullscreen   "#[fg=#fab387]#[bg=#fab387,fg=#1e2030,bold]{index} #[bg=#363a4f,fg=#fab387,bold] {name}{fullscreen_indicator}#[fg=#363a4f,bold]"
                tab_active_sync         "#[fg=#fab387]#[bg=#fab387,fg=#1e2030,bold]{index} #[bg=#363a4f,fg=#fab387,bold] {name}{sync_indicator[fg=#363a4f,bold]"
                tab_separator           " "

                tab_sync_indicator       " "
                tab_fullscreen_indicator " 󰊓"
                tab_floating_indicator   " 󰹙"

                notification_format_unread "#[fg=#f9e2af]#[fg=#11111b,bg=#f9e2af] #[fg=#cdd6f4,bg=#313244] {message}#[fg=#313244]"
                notification_format_no_notifications ""
                notification_show_interval "10"


                datetime        "#[fg=#6C7086,bold] {format} "
                datetime_format "%A, %d %b %Y %H:%M"
                datetime_timezone "Asia/Shanghai"
            }
        }
        pane
        pane size=1 borderless=true {
            plugin location="status-bar" {
                classic true
            }
        }
    }
}
